<form id="claimform" action="/claims" method="post">
  <p>
    <label for="title">Title</label>
    <select name="title">
      <option value="Mr">Mr</option>
      <option value="Mr">Mrs</option>
      <option value="Mr">Ms</option>
      <option value="Mr">Miss</option>
    </select>
  </p>
  <p>
    <label for="firstname">Firstname</label>
    <input type="text" name="firstname"></input>
  </p>
  <p>
    <label for="lastname">Lastname</label>
    <input type="text" name="lastname"></input>
  </p>
  <p>
    <label for="nino">Nino</label>
    <input type="text" name="nino"></input>
  </p>
  <p>
    <label for="dob">Date of birth</label>
    <input type="text" name="dob"></input>
  </p>
  <p>
    <label for="address_line_1">Address line 1</label>
    <input type="text" name="address_line_1"></input>
  </p>
  <p>
    <label for="address_line_2">Address line 2</label>
    <input type="text" name="address_line_2"></input>
  </p>
  <p>
    <label for="town_city">Town or City</label>
    <input type="text" name="town_city"></input>
  </p>
  <p>
    <label for="county">County</label>
    <input type="text" name="county"></input>
  </p>
  <p>
    <label for="postcode">Postcode</label>
    <input type="text" name="postcode"></input>
  </p>
  <p>
    <label for="bank_name">Name of bank</label>
    <input type="text" name="bank_name"></input>
  </p>
  <p>
    <label for="bank_account_number">Bank Account Number</label>
    <input type="text" name="bank_account_number"></input>
  </p>
  <p>
    <label for="bank_sort_code">Bank Sort Code</label>
    <input type="text" name="bank_sort_code"></input>
  </p>
  <p>
    <input id="submit" type="submit" value="Submit"></input>
  </p>
</form>
