<form id="claimform" action="/claims" method="post">
  <p>
    <label for="title">Title</label>
    <select name="title">
      <option value="Mr">Mr</option>
      <option value="Mr">Mrs</option>
      <option value="Mr">Ms</option>
      <option value="Mr">Miss</option>
    </select>
  </p>
  <p>
    <label for="firstname">Firstname</label>
    <input type="text" name="firstname"></input>
  </p>
  <p>
    <label for="lastname">Lastname</label>
    <input type="text" name="lastname"></input>
  </p>
  <p>
    <input id="submit" type="submit" value="Submit"></input>
  </p>
</form>
